<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${address}"
      method="post">
    <input type="hidden" th:field="*{id}" />

    <b>First Name: </b>
    <input type="text" th:field="*{firstName}" />
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"></span><br/>

    <b>Last Name: </b>
    <input type="text" th:field="*{lastName}" />
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"></span><br/>

    <b>Email: </b>
    <input type="text" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span><br/>

    <b>Address: </b>
    <textarea rows="3" th:field="*{addressInfo}" />
    <span th:if="${#fields.hasErrors('addressInfo')}"
          th:errors="*{addressInfo}"></span><br/>

    <b>Phone Number: </b>
    <input type="text" th:field="*{phoneNumber}" />
    <span th:if="${#fields.hasErrors('phoneNumber')}"
          th:errors="*{phoneNumber}"></span><br/>
    <br/>

    <input type="submit" value="Submit" />

</form>
</body>
</html>