<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${address}"
      method="post">
    <input type="hidden" th:field="*{id}" />

    <b>First Name: </b>
    <input type="text" th:field="*{first_name}" />
    <span th:if="${#fields.hasErrors('first_name')}"
          th:errors="*{first_name}"></span><br/>

    <b>Last Name: </b>
    <input type="text" th:field="*{last_name}" />
    <span th:if="${#fields.hasErrors('last_name')}"
          th:errors="*{last_name}"></span><br/>

    <b>Email: </b>
    <input type="text" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span><br/>

    <b>Address: </b>
    <textarea rows="3" th:field="*{address_info}" />
    <span th:if="${#fields.hasErrors('address_info')}"
          th:errors="*{address_info}"></span><br/>

    <b>Phone Number: </b>
    <input type="text" th:field="*{phone_number}" />
    <span th:if="${#fields.hasErrors('phone_number')}"
          th:errors="*{phone_number}"></span><br/>
    <br/>

    <input type="submit" value="Submit" />

</form>
</body>
</html>