<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/">Show All Address Listings</a><br/>
<b>First Name: </b><span th:text="${address.first_name}" ></span><br/>
<b>Last Name: </b><span th:text="${address.last_name}" ></span><br/>
<b>Email: </b><span th:text="${address.email}" ></span><br/>
<b>Address: </b><span th:text="${address.address_info}" ></span><br/>
<b>Phone Number: </b><span th:text="${address.phone_number}" ></span><br/>

<a th:href="@{/delete/{id}(id=${course.id})}">Delete This Listing</a>
</body>
</html>